<!-- prettier-ignore -->
{% extends 'my_app/base.html' %}

<!-- prettier-ignore -->
{% block title %}Головна{% endblock %}

<!-- prettier-ignore -->
{% block content %}
<div class="p-5 mb-4 bg-white rounded-3 shadow-sm text-center border">
  <h1 class="display-5 fw-bold mb-3">Вітаємо у BookStore! 📚</h1>
  <p class="fs-5 text-secondary">Сервер працює коректно, шаблони підключені.</p>
  <a href="{% url 'store:book_list' %}" class="btn btn-primary btn-lg mt-3"
    >Перейти до каталогу книг</a
  >
</div>
{% endblock %}
